body {
    background-color: rgb(221, 213, 213);
    margin: 0;
    display: block;
}
header {
    background-color: white;
    padding: 10px;
}
header h1 
{margin: 0;
}
div.post {
    background-color: white;
    margin-top: 30px;
    }
div.post img {
    width: 100%;
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 30px;
    padding: 10px;
    }
.post-footer{
    text-align: justify;
    padding: 10px;
}
.post-footer p {margin: 0;
padding: 0;
align-items: center;}
div.post h2, div post span {
    padding: 10px;
}
.container {
    width: 600px;
    margin: auto;
 }
